

<%= notice %>

<% @posts.each do |post| %>
<div class="panel panel-default col-md-offset-2 col-md-8">
<h3 class="panel-title"><%= link_to post.title, post %></h3>
  <div class="post-date">
    <small><%= post.created_at.strftime("%B, %d, %Y") %></small>
  </div>

  <div class="panel-body">
    <%= post.body %>
  </div>
</div>
<% end %>


